/* vibrant color palette */
/* use translucency */
/* diagonal lines */
/* diagonal cross-hatch in boxes */
/* parallax images */
/* gradients - as background or as filter over images */


body,html {
	margin:0;
	padding:0;
}

body {
	transform: translateZ(0);
}

.wrapper {
	height: 100vh;
	/* Set to 100vh for the effect to work for the full height of the viewport. */
	overflow-x: hidden;
	/* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
	overflow-y: auto;
	/* Enable scrolling on the page. */
	perspective: 2px;
	/* This is the simulated distance from the viewport to transformed objects.*/
	transform-style: preserve-3d;
	/* Needed for parallax in Firefox */
}

.section {
	position: relative;
	height: 550px;
	transform-style: inherit;
}

.section1 {
	position: relative;
	/* Needed for children to be positioned relative to the parent. */
	height: 620px;
	/* The height of the container */	
	background: rgba(242,242,242,1);
	/* Needed for parallax in Firefox */
	transform-style: inherit;
	z-index: 1;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
	/* For text formatting. */
}

.section2 {
	position: relative;
	min-height: 680px;
	background: linear-gradient(6deg, rgba(0,0,0,1) 30%, rgb(201, 97, 38) 100%);
	z-index: 1;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
}

.section3 {
	position: relative;
	min-height: 480px;
	background: linear-gradient(260deg, rgb(26, 80, 30) 0%, rgb(23, 117, 44) 70%);
	z-index: 2;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
}

.parallax-top::after {
	content: " ";
	position: absolute;
	top: -140px;
	right: 0;
	bottom: 0;
	left: -6px;
	transform: translateZ(-1.5px) scale(1.75);
	z-index: -1;
}

.parallax::after {
	content: " ";
	position: absolute;
	top: -40px;
	right: 0;
	bottom: 0;
	left: -6px;
	/* Display and position the pseudo-element */	

	transform: translateZ(-1.5px) scale(1.8);
	/* Move pseudo-element further back so it moves more slowly, then scale it back up to fill the viewport.
		 Scale = 1 + (translateZ * -1) / perspective */
	z-index: -1;
	/* Keep the image from overlapping sibling elements. */ 
}

.standings {
	width: 100%;
	max-width: 984px;
	height: 590px;
	position: relative;
	top: -100px;
}

.linebreak{
	width: 100%;
}

h2 {
	font-family: 'Raleway', serif;
	font-size: 90px;
	color: rgba(255,255,255,.6);
	position: relative;
	top: -87px;
	margin: 0px;
	z-index: 1;
}

table {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	color: white;
	table-layout: fixed;
	position: relative;
	top: -50px;
}

tr {
	vertical-align: top; 
}

th {
	height: 26px;
}

#history tr td:nth-child(1) {
	text-align: right;
	padding-right: 5%;
}

#history tr th:nth-child(1) {
	width: 20%;
	text-align: right;
	padding-right: 5%;
}

#history tr th:nth-child(2) {
  width: 5%;
}

#history tr th:nth-child(3) {
	width: 40%;
	text-align: left;
}

#history tr th:nth-child(4) {
  width: 35%;
}

.button{
	background-color: transparent;
	border: 1px solid lightgrey;
	color: lightgrey;
	padding: 5px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Raleway, sans-serif;
	font-size: 12px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button:hover {
	background-color: rgba(211,211,211,.5);
	color: white;
}

.missing {
	opacity: .3;
	width: 93.79px;
}

.missing1 {
	opacity: .3;
	width: 79.83px;
}

.circle {
	border-radius: 50%;
	height: 20px;
}

.logo {
	color: darkslategrey;
	background-color: darkgrey;
	text-align: center;
	width: 20px;
	font-weight: bolder;
	font-size: 14px;
}

.records {
	margin: 10px;
	padding: 4px;
	background-color: rgba(0,0,0,.2);
	min-width: 340px;
	max-width: 500px;
	font-size: 13px;
}

caption {
	caption-side: top;
	text-align: left;
	font-weight: bold;
	padding: 6px 6px 4px;
	background-color: rgba(0,0,0,.2);
}

.records tr td:nth-child(1) {
	text-align: left;
	padding-right: 5%;
	width: 50px;
}

.records tr td:nth-child(2) {
	height: 25px;
	width: 25px;
}

.records tr td:nth-child(3) {
	text-align: left;
	width: 200px;
}

.records tr td:nth-child(4) {
	text-align: right;
	width: 50px;
}

.bg1::after {
	background-image: url('../img/bg1.jpg');
	background-size: cover;
	background-position: center;
}

.bg2::after {
	background-image: url('../img/bg2.jpg');
	background-size: cover;
	background-position: center;
	height: 700px;
}

.bg3::after {
	background-image: url('../img/bg3.jpg');
	background-size: cover;
	height: 760px;
}