/* vibrant color palette */
/* use translucency */
/* diagonal lines */
/* diagonal cross-hatch in boxes */
/* parallax images */
/* gradients - as background or as filter over images */


body,html {
	margin:0;
	padding:0;
}

body {
	transform: translateZ(0);
}

.wrapper {
	height: 100vh;
	/* Set to 100vh for the effect to work for the full height of the viewport. */
	overflow-x: hidden;
	/* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
	overflow-y: auto;
	/* Enable scrolling on the page. */
	perspective: 2px;
	/* This is the simulated distance from the viewport to transformed objects.*/
}

.section {
	position: relative;
	height: 630px;
}

.section1 {
	position: relative;
	/* Needed for children to be positioned relative to the parent. */
	height: 630px;
	/* The height of the container */	

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: start;
	/* For text formatting. */
}

.parallax::after {
	content: " ";
	position: absolute;
	top: -120px;
	right: 0;
	bottom: 0;
	left: -6px;
	/* Display and position the pseudo-element */	

	transform: translateZ(-1.5px) scale(1.75);
	/* Move pseudo-element further back so it moves more slowly, then scale it back up to fill the viewport.
		 Scale = 1 + (translateZ * -1) / perspective */
	z-index: -1;
	/* Keep the image from overlapping sibling elements. */ 
}

.static1 {
	background: rgba(242,242,242,1);
}
.static {
	background: linear-gradient(60deg, rgba(0,0,0,1) 30%, rgba(0,212,255,1) 100%);
}

.standings {
	width: 100%;
	max-width: 984px;
	height: 590px;
	position: relative;
	top: -100px;
}

.linebreak{
	width: 100%;
}

h2 {
	font-family: Raleway, serif;
	font-size: 90px;
	color: rgba(255,255,255,.6);
	position: relative;
	top: -87px;
	margin: 0px;
}

table {
	font-family: Nunito, sans-serif;
	font-size: 14px;
	color: white;
	table-layout: fixed;
	width: 100%;
	max-width: 600px;
	position: relative;
	top: -50px;
}

tr td:nth-child(1) {
	text-align: right;
	padding-right: 5%;
}

tr th:nth-child(1) {
	width: 20%;
	text-align: right;
	padding-right: 5%;
}

tr th:nth-child(2) {
  width: 5%;
}

tr th:nth-child(3) {
	width: 35%;
	text-align: left;
}

tr th:nth-child(4) {
  width: 40%;
}

.button{
	background-color: transparent;
	border: 1px solid lightgrey;
	color: lightgrey;
	padding: 5px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Raleway, sans-serif;
	font-size: 12px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.button:hover {
	background-color: rgba(211,211,211,.5);
	color: white;
}

.missing {
	opacity: .5;
	width: 93.79px;
}

.circle {
	border-radius: 50%;
	height: 20px;
}

.logo {
	color: darkslategrey;
	background-color: darkgrey;
	text-align: center;
	width: 20px;
	font-weight: bolder;
}

.bg1::after {
	background-image: url('../img/bg1.jpg');
	background-size: cover;
}

.bg2::after {
	background-image: url('../img/bg2.jpg');
	background-size: cover;
	/* margin-top: 380px; */
}

.bg3::after {
	background-image: url('../img/bg3.jpg');
	background-size: cover;
	/* margin-top: 900px; */
}