/* vibrant color palette */
/* use translucency */
/* diagonal lines */
/* diagonal cross-hatch in boxes */
/* parallax images */
/* gradients - as background or as filter over images */

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
		
body {
	font-family: Roboto;
	font-size: 12px;
	color: #424242;
}
		
h1, h2, h3, h4, h5 {
	margin: 0; 
}
		
header, nav, footer, section, article, div {
	box-sizing: border-box;
}
		
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
	
a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}
	
a:hover {
	color: rgb(23, 87, 182);
}
	
footer {
	width: 100%;
	font-size: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
	
footer a {
	color: #424242;
	text-decoration: none;
}
		

	
/*
 *
 * Header
 *
 */

.header {
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
	min-height: 56px;
	/* transition: min-height 0.3s; */
	position: relative;
}



/*
 *
 * Content
 *
 */

object:focus {
	outline: none;
}

object {

}

.parallax-wrapper {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-group {
	position: relative;
	/* height: 500px; fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#group1 {
	z-index: 1;
}

#group2 {
	z-index: 2;
}

#group3 {
	z-index: 3;
}

.parallax {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.background {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-2px) scale(3);
	z-index: 1;
}

.base {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-1px) scale(2);
	z-index: 2;
}

.foreground {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 3;
}

.bg1 { /* insert gradient too */
	background-image: url('../img/bg1.jpg');
	background-size: 100%;
}

.bg2 {
	background-image: url('../img/bg2.jpg');
}

.bg3 {
	background-image: url('../img/bg3.jpg');
}

.box {
	background-color: rgba(114, 114, 114, 0.349);
	width: 100%;
	margin-bottom: 16px;
	margin-top: 16px;
	/* display: inline-flex; */
	/* justify-content: space-between;  */
}

table {
	width: 768px;
	border: 1px solid #dddddd;
}

td {
	text-align: left;
	padding: 8px;
}